<div>
    <div class="sp-form-body">
        <div class="panel-group form-section-back">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title" style="display: inline">洗车服务预订列表</h4>
                    <!--<div class="pull-right" role="group">-->
                    <!--<a class="remove-underline" ui-sref="news.dynamic.form"><i-->
                    <!--class="icon-plus-sign-alt bigger-120" tooltip="添加俱乐部动态"></i></a>-->
                    <!--</div>-->
                </div>
                <table st-table="waxingList"
                       class="table table-striped table-bordered table-condensed table-center">
                    <thead>
                    <tr>
                        <th>微信名称</th>
                        <th>预订时间</th>
                        <th>创建时间</th>
                        <th>是否处理</th>
                        <th>打蜡地点</th>
                        <th>处理人</th>
                        <th>操作</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="waxing in waxingList">

                        <td>{{waxing.wechatname}}</td>
                        <td>{{waxing.destinetime | date:'yyyy-MM-dd'}}</td>
                        <td>{{waxing.updateTime | date:'yyyy-MM-dd'}}</td>
                        <td ng-if="waxing.isHandle">是</td>
                        <td ng-if="!waxing.isHandle">否</td>
                        <td>{{waxing.address}}</td>
                        <td>{{waxing.handleuser}}</td>
                        <td ng-if="waxing.isHandle">已处理完成</td>
                        <td ng-if="!waxing.isHandle"><button class="btn btn-primary" ng-click="handle(waxing.id)">处理</button></td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <!--<tr>-->
                    <!--<td colspan="9" class="text-center">-->
                    <!--<div st-items-by-page="30" st-pagination st-template="/pages/templates/pagination.html"></div>-->
                    <!--</td>-->
                    <!--</tr>-->
                    </tfoot>
                </table>
            </div>
            <div class="space-4"></div>

            <alert type="danger" ng-show="errorMessage">
                <div class="pre-wrap max-height-200">{{errorMessage}}</div>
            </alert>
        </div>
    </div>

</div>

