<div class="sidebar" id="sidebar" ng-controller="SidebarCtrl">
    <ul class="nav nav-list">
        <div ui-view="left-menu" class="nav nav-list"></div>
    </ul>

    <div class="sidebar-collapse" id="sidebar-collapse">
        <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
    </div>
</div>
<div class="main-content">
    <div class="breadcrumbs">
        <ncy-breadcrumb/>
    </div>
    <div class="page-content">
        <div ui-view="content"></div>
    </div>
    <div growl limit-messages="5"></div>
</div>